input[type="checkbox"]+label {
    display: block;
    width: 24px;
    height: 24px;
    background: url('image/check_off.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
    background: url('image/check_on.png') no-repeat 0 1px / contain;
}

input[type="checkbox"] {
    display: none;
}

#FaceCheck{
  /*background-color: black;*/
  border: 1px;
  position:absolute;
  top:100px;
  right:360px;
  height:20px;
  width:20px;
 }
