<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <!-- Latest minified Bootstrap & JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background: wheat;
        }

        .topcorner2 {
            position: absolute;
            top: 0;
            left: 30px;
        }

        .topcorner {
            position: absolute;
            top: 0;
            right: 0;
        }

        .ListCheck {
            /*background-color: black;*/
            border: 1px;
            position: absolute;
            top: 400px;
            right: 500px;
            height: 400px;
            width: 600px;
            display: inline;
        }

        .VideoCheck {
            background-color: white;
            border: 1px;
            text-align: center;
            height: 400px;
            width: 600px;
        }

        .container {
            padding: 8em;
        }
    </style>
</head>

<body class="text-center">
    <header>
        <div class="topcorner2">
            <!--Logo-->
            <a href="/">
                <img src="http://drive.google.com/uc?export=view&id=1rG5FnW5o0NtosvDmHGaskrhoKZ9haT0_" width="250px"
                    height="120px">
            </a>
        </div>
        <div id="User" class="topcorner">
            <!--Login Info/Logout-->
            <h1 style="display: inline" id="Uname"></h1>
            <a href="/" id="Logout">
                <button id="logout" class="btn btn-danger" style="display: inline">Logout</button></a>
        </div>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        <h1>Simple WebRTC Signaling Server</h1>
        <div id="container">
            <p>
                This part receives a room number (or generates new one), and redirects current user there.
            </p>
            <form id="form">
                <input type="hidden" id="uuid" name="uuid" />
                <div class="row justify-content-md-center">
                    <div class="input-group col-md-6 mb-3 justify-content-md-center">
                        <div class="mb-3">
                            <label for="rooms-list">Select one of the rooms created:</label><br>
                            <h4>
                                <div id="rooms-list-div">
                                    <span id="rooms-list">
                                        <!-- <a th:href="@{/room/{id}(id=${r.id})}" th:id="'button-link-'+${r.id}">
                                    <button type="button" name="action" th:text="${r.id}" th:value="${r.id}"
                                            class="btn badge badge-primary" onclick="addUuidToButtonLink(this);">99
                                    </button>
                                </a> -->
                                    </span>
                                </div>

                            </h4>
                        </div>
                        <div class="mb-3">
                            <label for="id">To create a new room enter your room number,
                                or press 'Random #' button to get a random one</label>
                            <input class="form-control" name="id" id="id" type="number" placeholder="Min: 0, max: 99"
                                min="0" max="99" required>
                        </div>
                        <div>
                            <a href="https://localhost:8443/room/random">
                                <button class="btn btn-outline-success" type="button">Random #</button>
                            </a>
                            <button value="create" type="submit" id="submit" class="btn btn-outline-primary">
                                Create Selected Room</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!--generates unique user identifier stored at 'uuid' input field to pass it to the back-side-->
    <!-- <script src="/js/main_client.js"></script> -->
    <script>
        $(function () {
            const uuidInput = document.querySelector('input#uuid');
            console.log(location.host);
            function guid() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    let r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }

            if (localStorage.getItem("uuid") === null) {
                localStorage.setItem("uuid", guid());
            }

            uuidInput.value = localStorage.getItem("uuid");
            console.log("local.uuid:" + localStorage.getItem("uuid"));
            console.log("input.value:" + uuidInput.value);
        });

        $(function () {
            $.ajax({
                type: 'GET', // GET방식으로 요청
                url: 'https://localhost:8443/room', // Request보낼 URL
                data: { id: $("input#id").value, uuid: localStorage.getItem("uuid") },
                success: function (data) { // 성공적으로 수행 시 response를 data라는 인자로 받는다.

                    //자바스크립트 객체에 data의 0번째 배열에서 content에 해당하는 텍스트값을 저장
                    //$("#rooms-list").append("<div class='col-xs-4'></div>"); // 태그 추가
                    $.each(data.rooms, function (index, value) {
                        var element = `
                    <a href="/room/${value.id}" id="button-link-${value.id}">
                        <button type="button" name="action" value="${value.id}"
                                class="btn badge badge-primary" onclick="addUuidToButtonLink(this);">${value.id}
                        </button>
                    </a>
                    `
                        $("#rooms-list").append(element);
                    })

                },
                error: function () { // 실패시
                    alert("AJAX Failed!");
                }
            });
        });

        function addUuidToButtonLink(button) {
            let id = 'button-link-' + button.value;
            console.log(id);
            //console.log("??" + document.getElementById(id));
            console.log(document.getElementById(id).href);

            let ref = document.getElementById(id).href;
            document.getElementById(id).href = ref + '/user/' + localStorage.getItem("uuid");
            console.log("link.href:" + document.getElementById(id).href);
        }

        $(function () {
            $('#submit').on("click", function () {

                var form = $("#form").serialize();
                console.log(form);

                $.ajax({
                    type: "post",
                    url: "https://localhost:8443/room",
                    data: form,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        location.reload()
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

                    }
                });
            });
        });
        $(function () {
            $('#logout').on("click", function () {
                localStorage.setItem("Loginstate", 0);
                $.ajax({
                    type: "get",
                    url: "https://localhost:8443/user/logout"
                })
                    .done(function (msg) {
                        console.log("Logout!");
                    });
            });
        });
        $(document).ready(function () {
            var lastData = localStorage.getItem('Loginstate');
            console.log(lastData);
            var a = { id: localStorage.getItem('userLoginId') };
            $.ajax({
                method: "post",
                url: "https://localhost:8443/user/getName",
                data: JSON.stringify(a),
                headers: { 'Content-Type': 'application/json' },
                dataType: 'json'
            })
                .done(function (msg) {
                    console.log(msg.name);
                    var element = document.getElementById("Uname");
                    element.innerText = msg.name + "님";
                });
        });
    </script>
</body>

</html>